Задача:
консольная утилита должна поддерживать поиск данных и отображение их в окне стандартного вывода по следующим критериям (аргументам командной строки):
—year_from и —year_to - фильтры на год создания (—year_from 2012)
—brand - марка автомобиля (—brand NISSAN)
—model - модель (I—model X-TRAIL)
—price_from и —price_to - фильтры на поле price_secondary, т.е. цену в долларах (—price_to 8000)
—transmission - коробка передач (—transmission автомат)
—mileage - максимальный допустимый пробег (—mileage 10000)
—body - тип кузова автомобиля (—body универсал)
—engine_from и —engine_to - объем двигателя ( —engine_from 1600 —engine_to 2000)
—fuel - тип топлива (—fuel дизель)
—exchange - готовность совершить обмен - yes|no (—exchange yes)
—keywords - любой текст, который вы ищете в объявлении, независимые ключевые слова отделены запятыми (—keywords "одни руки, идеальное состояние, фаркоп")

в дальнейшем мы похожие запросы будем делать, работая с базами данных на SQL или c применением других технологий (фреймворков, языков), например, spark, pandas

По факту это ваш первый ETL (в рамках этого тренинга, по крайней мере)
Экстрактим и обрабатываем данные из файлов csv, выгружаем в окно стандартного вывода. Можно легко перенаправить в текстовый файл
pandas - не использовать






